*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

/**Inicia el Header**/
.container-header{
    background-color: rgb(73, 73, 73);
    overflow: hidden;
    grid-template-rows: 1fr 1fr;
}

/**Redes Sociales**/
.redes-sociales{
    height: 50px;
    overflow: hidden;
    display: grid;
}

.iconos-redes-sociales{
    width: 30%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}
.iconos-redes-sociales a{
    color: rgb(255, 250, 250);
    font-size: 25px;
}
.iconos-redes-sociales a i:hover{
    color: greenyellow;
}

/**fin Redes Sociales**/

/** Logo**/
.logo{
    background-color: rgb(221, 221, 221);
    display: flex;
}
.logo img{
    padding: 5px;
    margin: 5px;
    margin-left: 30px;
}

.h1-logo{
    margin-left: 15px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 30px;
}
/**fin Logo**/
/**fin el Header**/

/** Inicio del Main**/

/**inicio de Imagen de Portada**/
.img-portada{
height: 350px;
background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)), url(/img/portada.png);
/*background-image: url(1.jpg);*/
background-repeat: no-repeat;
background-position: 50% 50%;
background-size: cover;
/*filter: brightness(0.5);*/
text-align: center;
color: rgb(255, 255, 255);
overflow: hidden;
}


.text-img{
    text-align: center;
    display: block;
    grid-template-rows: 1fr 1fr;
}


.p-img-salto{
    margin-top: 260px;
    color: rgb(231, 231, 231);
}
/**fin imagen de portada**/


/**inicio section Articulos **/


/**fin section Articulos **/






/** **/
/** fin main**/